.git
**/.git
.gitignore
.DS_Store
**/.DS_Store
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
tmp
**/tmp
.env
.env.*
!.env.example
terraform.tfstate*
infra/.terraform
.github
docs
infra
compose*.yaml
**/compose*.yaml
*.log
**/*.log
.pnpm-store
**/.pnpm-store
.turbo
**/.turbo
